
body{font:'proxima-nova',\5fae\8f6f\96c5\9ed1,Tahoma,Helvetica,'Lucida Grande',Georgia,Verdana;background: #F2F2F2;}

header{border-bottom: 1px solid #ccc; padding:4em;height: 20px; background: #fff;}
/* 两栏布局  主栏左 侧栏右 */
section{float:left;width:100%;margin-top: 30px;}
article{overflow: hidden;background: #fff;margin: 0 340px 40px 20px;padding: 20px;}
aside{position:relative;float:right;width:280px;margin-left:-280px;margin-top: 30px;}
footer{text-align: center;margin: 20px 0;}

pre{margin: 1em 0 3em 0;background: none; border: 1px solid #ddd; overflow: hidden; white-space: pre-wrap;}
pre, code{font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace; display: block; background: #f8f8f8; line-height: 20px;}
blockquote{margin: 1em 2em 3em 1em; padding-left: 1.5em; border-left: 4px solid #008000; line-height: 20px;}

.widget{background: #fff; margin: 0 20px 30px 0; padding: 20px;}
.widget-title{height: 30px;line-height: 30px;padding-left: 20px;border-bottom: 1px solid #ddd;font-size: 16px;}
.widget-list li{line-height: 30px;padding-left: 20px;}
.post-title{font-size: 16px;height: 30px;line-height: 30px; border-bottom: 1px solid #ddd;}
.post-meta{margin-bottom: 20px;color: #ccc;text-align: right;margin-top: -16px;}
.post-meta i{font-style: italic}
.post-content{line-height: 30px; }
.post-content img{max-width: 100%;}
.site-name{font-size: 24px;}
.site-search{margin-top:20px;font-size: 22px;text-align: right;}



.post-content pre, .comment-content pre{padding: 1.5em 2em;}

.more{text-align: right;font-size: 20px;}
.more a{color: #ccc;}
.fl{float: left;}
.fr{float: right;}





/* 通用自定义按钮-默认蓝色 */
.u-btn{display:inline-block;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:28px;line-height:28px;border:1px solid #2d88bf;border-radius:5px;font-size:12px;letter-spacing:1px;text-align:center;vertical-align:middle;cursor:pointer;word-wrap:normal;white-space:nowrap;box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);text-shadow:0 -1px rgba(0,0,0,0.2);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#6dbde4),to(#399dd8));background:-webkit-linear-gradient(#6dbde4,#399dd8);background:-moz-linear-gradient(#6dbde4,#399dd8);background:-ms-linear-gradient(#6dbde4,#399dd8);background:linear-gradient(#6dbde4,#399dd8);}
.u-btn,.u-btn:hover{color:#fff;text-decoration:none;}
.u-btn:hover,.u-btn:focus{background:#399dd8;}
.u-btn:active{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}
.u-btn::-moz-focus-inner{padding:0;margin:0;border:0;}
.u-btn .btnsel{display:inline-block;vertical-align:middle;border-style:solid;border-width:4px 4px 0;border-color:rgba(255,255,255,0.8) transparent transparent;}
.u-btn:hover .btnsel,.u-btn:focus .btnsel{border-top-color:rgba(255,255,255,1);}
.u-btn-c4{border-color:#d0d0d0;text-shadow:0 1px rgba(255,255,255,0.8);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fefefe),to(#e7e7e7));background:-webkit-linear-gradient(#fefefe,#e7e7e7);background:-moz-linear-gradient(#fefefe,#e7e7e7);background:-ms-linear-gradient(#fefefe,#e7e7e7);background:linear-gradient(#fefefe,#e7e7e7);}
.u-btn-c4,.u-btn-c4:hover{color:#333;}
.u-btn-c4:hover,.u-btn-c4:focus{background:#e7e7e7;}
.u-btn-c4 .btnsel{border-top-color:rgba(0,0,0,0.6);}
.u-btn-c4:hover .btnsel,.u-btn-c4:focus .btnsel{border-top-color:rgba(0,0,0,1);}

/* 文本输入框 */
.u-ipt{width:180px;padding:5px;height:17px;border:1px solid #D9D9D9;border-top-color:#c0c0c0;line-height:17px;font-size:14px;color:#777;background:#fff;}


/* 普通翻页器 */
.page{margin:-30px 340px 30px 0;text-align:right;line-height:32px;font-size:0;letter-spacing:-0.307em;word-wrap:normal;white-space:nowrap;color:#999;}
.page a, .page span{display:inline-block;vertical-align:top;padding:0 12px;margin-left:-1px;border:1px solid #ddd;font-size:12px;letter-spacing:normal;text-shadow:0 1px #fff;background:#fff;-webkit-transition:background-color 0.3s;-moz-transition:background-color 0.3s;-ms-transition:background-color 0.3s;transition:background-color 0.3s;}
.page li {border: none;display:inline-block;margin-left: 5px;}
.page a,.page a:hover{text-decoration:none;color:#39c;}
.page a:hover, .page li.current a{background:#f5f5f5;}
.page a:active{background:#f0f0f0;}